<style>
  .dropdown-menu {
    max-height: 350px;
    overflow-y: auto;
  }
</style>

<div style="width: 95%; margin: auto">
  <div>
    <div class="position-relative" style="width: 100%; height: 200px">
      <div
        class="p-5 text-center bg-image w-100 h-100 rounded-3"
        style="
          background-image: url('assets/images/CantineVersion2.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: relative;
        "
      >
        <img
          src="assets/images/LogoLND.jpeg"
          class="position-absolute top-0 start-0"
          style="width: 20%; height: auto; max-width: 200px; max-height: 200px"
          alt="Example Image"
        />

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-8 text-white text-center">
              <h1 class="mb-3">Lukala Ngangu Développement</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--      <div><img src="assets/images/LogoLND.jpeg" class="img-fluid rounded" alt="logo" style="width: 5rem;"></div>
      <div class="text-white"> 
        <h1 class="mb-3">Lukala Ngangu Développement</h1>
      </div>
    </div> -->
    <div>
      <nav
        class="navbar navbar-expand-lg border-bottom border-body"
        style="width: 100%; background-color: #e3f2fd"
      >
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#/Accueil"
                  >Accueil</a
                >
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Membres
                </a>
                <ul class="dropdown-menu">
                  <!--                   <li>
                    <a class="dropdown-item" href="#/LesDirigeants"
                      >Équipe dirigeante</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li> -->
                  <li>
                    <a class="dropdown-item" href="#/TousLesMembres">Membres</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item" href="#/Contact">Contact</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="#/Finance"
                      data-bs-toggle="modal"
                      data-bs-target="#passwordModal"
                      (click)="isModalOpen = true"
                      >Finance</a
                    >
                  </li>
                  <!-- <li><a class="dropdown-item" href="#/Finance">Finance</a></li> -->
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Projects
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#/morgue">Morgue</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Documents
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#/Fonctionnement"
                      >Autorisation de Fonctionnement</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>

                  <li>
                    <a class="dropdown-item" href="#/Viabilite"
                      >Etat des lieux de viabilité</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>

                  <li>
                    <a class="dropdown-item" href="#/ROI"
                      >Règlement d'ordre intérieur</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#/Intention"
                      >Déclaration d'intention</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#/Notarie">Acte-Notarie</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#/Status"
                      >Projet de Status</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#/vueEnPlan"
                      >Vue en plan coté de la morgue</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#/FicheDeProject1"
                      >Fiche de project 1</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#/PlanStrategique"
                      >Plan strategique 2025–2029</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/Messages">Messages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/Nécrologie">Nécrologie</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  World Music
                </a>

                <ul class="dropdown-menu scrollable-dropdown">
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/LongAsILive', 'EjW7WzozgI0']"
                      >Toni Braxton - Long As I Live</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/TinaWhatLove', 'oGpFcHTxjZs']"
                      >Tina - What's Love Got To Do With it</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/OnMyOwnft', 'KsH63qJlIMM']"
                      >Patti labelle - On My Own ft</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/ASummerPlace', '3ofmPuHBCCc']"
                      >Percy Faith - The Theme from "A Summer Place"</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/TakeOnMe', 'djV11Xbc914']"
                      >Haha - Take On Me</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Accident', '31LxCq1DPDk']"
                      >Dieudonne Larose - Accident</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/CoastLine', 'b0i4h4ywO1w']"
                      >Thomas Frinking: Coastline
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/AinTNobody', 'rcAv1cGAeXE']"
                      >Chaka Khan: Ain't Nobody
                    </a>
                  </li>
                  <li></li>

                  <li>
                    <hr class="dropdown-divider" />
                  </li>

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/VousLesFemmes', 'FWhwwSX3fEA']"
                      >Julio Iglesias: Vous les femmes</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/CarelessWhisper', 'izGwDsrQ1eQ']"
                      >George Michael - Careless Whisper</a
                    >
                  </li>

                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/WhenIseeYouAngain', '3R878g-SppU']"
                      >The Three Degrees - When Will I See You Again</a
                    >
                  </li>

                  <li></li>

                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/KissOfLife', 'MmOau-PMWJk']"
                      >Sade - Kiss Of Life</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Kinshasa', 'lzZz_yVZ9Y0']"
                      >Francis Bebey - Bana ba Zaire</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/LaVieEnRose', 'E5M7l_z93rg']"
                      >Grace Jones - La Vie En Rose</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Carnavale', '-A2Wwyuqa6g']"
                      >EL Negro Y RAY - Carnaval</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/LikeALady', '3jqHdZi3EYU']"
                      >The Temptations - Treat Her Like A Lady</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/WhatToKnow', 'r3Pr1_v7hsw']"
                      >Foreigner - I want to Know What Love Is</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/SummerInCity', 'jpbK4tLQH_s']"
                      >Quicy Jones - Summer In The City
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/PrendSoinDelle', 'hPZvuowFkx8']"
                      >Claude Barzotti - Prends bien soin d'elle
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Fideles', 'cqS-VrUEiHo']"
                      >Julio Iglesias - Fideles
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Shiver', '8VLnxe7BBq0']"
                      >George Benson - Shiver
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/OurDream', 'IQsbmLqNF1A']"
                    >
                      The EQS - In Our Dream
                    </a>
                  </li>

                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Holiday', 'h4bP9tj_0Zk']"
                    >
                      Madona - Holiday
                    </a>
                  </li>
 <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/ForTheLoveOfYou', '_BB48yeqQ8Q']"
                    >
                      Whitney with Kenny G - For The Love Of You
                    </a>
                  </li>





                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Fresh', 'sTJ1XwGDcA4']"
                    >
                      Kool and The Gang - Fresh
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/TheFinest', 'iK0YkFOD18U']"
                    >
                      S.O.S Band - The Finest
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/SaturdayLove', 'efLcgUQmyT8']"
                    >
                      Cherrelle - Saturday Love
                    </a>
                  </li>

                  <li>
                    <hr class="dropdown-divider" />
                  </li>

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/ForeverYoung', 'oNjQXmoxiQ8']"
                      >Alphaville - Forever Young
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/BabyComeToMe', 'pQflBV1UgVY']"
                      >Regina Belle - Baby Come To Me</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/LoveWillFollow', 'ANA_hlouklY']"
                      >Kenny Loggins -Love Will Follow</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/SelfControl', 'RP0_8J7uxhs']"
                      >Laura Branigan - Self Control</a
                    >
                  </li>

                  <!--  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/RockYourBaby', '6Q15-kql1YE']"
                    >
                      George McCrae: Rock Your Baby
                    </a>
                  </li> -->
                </ul>
              </li>

              <!-- <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  🎄<span style="color: red">🎄</span>Noël<span
                    style="color: red"
                    >🎄</span
                  >🎄
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/HolyNight', 'RsWUWzai8P8']"
                    >
                      O Holy Night</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Angels', 'yVjdGRp53_M']"
                      >Angels We Have Heard On High</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/SilentNight', 'wghk2Wkt28o']"
                      >Silent Night</a
                    >
                  </li>

                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/FelizNavidad', '8eTA-AF4-bw']"
                      >Feliz Navidad</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Noël', 'RH-xd5bPKTA']"
                      >Do they know it is Christmas?</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/LastChristmas', 'E8gmARGvPlI']"
                      >Last Christmas</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/USA', '9AjkUyX0rVw']"
                      >USA for Africa</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/SantaClause', 'HUlmzer_5TM']"
                      >Santa Claus Is Coming</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/CarelessWhisper', 'izGwDsrQ1eQ']"
                      >Careless Whisper</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/whenIseeYouAngain', '3R878g-SppU']"
                      >When Will I See You Again</a
                    >
                  </li>
                </ul>
              </li> -->

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="loisirDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Musique Congolaise
                </a>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="loisirDropdown"
                  style="z-index: 200"
                >
                 
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Kelhiambiliabel', '0SpzfQnFC4Q']"
                      >Kelhia Mbilia Bel</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                   <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Koukoulou', 'j8gCb6bKC44']"
                      >Koukoulou</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Eswiyowapi', 'gcrkm2HFV-o']"
                      >Eswi yo wapi</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Beyanga', 'ZhXnj3EACXA']"
                      >Beyanga</a
                    >
                  </li>
                  <hr class="dropdown-divider" />

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/MolungeYaMbanda', '53ck5zij__o']"
                      >Molunge Ya Mbanda</a
                    >
                  </li>
                  <hr class="dropdown-divider" />

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/BonSamaritain', '8bMc6-VWvMM']"
                      >Bon Samaritain</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/SeliaZozo', 'aU3hSzW3j3c']"
                      >Selia zozo</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Tangawisi', 'Td34YSYubvA']"
                      >Tangawisi</a
                    >
                  </li>
                  <hr class="dropdown-divider" />

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Prolongation', 'k3_odBeWt44']"
                      >Prolongation</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/NdayaParadis', 'PSyUYXHN9p4']"
                      >Ndaya paradis</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/CentièmeDossier', 'gIfxaiLOjPQ']"
                      >Centieme Dossier</a
                    >
                  </li>
                  <hr class="dropdown-divider" />

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/JoelPhoto', '-a_02lS-lg0']"
                      >Joël photo</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/TokomaBaCamarade', 'm7N5ZvrsmjE']"
                      >Tokoma ba Camarade Pamba</a
                    >
                  </li>
                  <hr class="dropdown-divider" />

                  <!-- <li><a class="dropdown-item" [routerLink]="['/Ikea', 'HxDdpBMWI3Q']">Ikea</a></li>
                  <hr class="dropdown-divider"> -->
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Orgasy', 'ihmtjqUyFWQ']"
                      >Orgasy
                    </a>
                  </li>
                  <hr class="dropdown-divider" />

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/PointFinal', 'ulznRM_QQPc']"
                      >Point Final</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/NzotoMoko', 'Po0U1sF45S0']"
                      >Nzoto Na Nga Se Moko</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Maya', 'e9cKkBGleGE']"
                      >Maya</a
                    >
                  </li>
                  <!-- <hr class="dropdown-divider">
                  <li><a class="dropdown-item" [routerLink]="['/MayaVersion2', '1oPDUjb7j-o']">Maya version2</a></li> -->
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/ZéroFaute', 'sDCoVhUilys']"
                      >Zéro faute</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Coucou', 'HZNKqR6C1cE']"
                      >Coucou</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Ngobila', 'ka-M15DX0Pw']"
                      >Ngobila</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Ndaya', 'hNco9iib8nM']"
                      >Ndaya</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/FauteYaCommerçant', 'uUzK50qrITw']"
                      >Faute Ya Commerçant</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Mukungu', 'zveJw24HErM']"
                      >Mukungu
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Djino', 'xaGTNwnHqXM']"
                      >DJINO
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/PesaPosition', 'iIwgqiSKGCk']"
                      >Pesa Position
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Mabele', 'RAnITiF0Fgc']"
                      >Mabele (Ntoto)
                    </a>
                    <hr class="dropdown-divider" />
                    <!--                   <li><a class="dropdown-item" [routerLink]="['/JamaisKolonga', 'Hhue5hh_IOM']">Jamais Kolonga </a>
                  </li> 
                  <hr class="dropdown-divider">-->
                  </li>

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/KaribouYaBintou', '8kR_o9daD2I']"
                      >Karibou ya Bintou</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <!-- <li><a class="dropdown-item" [routerLink]="['/EbaleYaZaire', '6zh721l_6gI']">Ebale ya Zaïre</a></li>
                  <hr class="dropdown-divider"> -->
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Deliya', 'YNuSZ3EUS10']"
                      >Deliya</a
                    >
                  </li>
                  <hr class="dropdown-divider" />

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Kelya', '-t6_DXt7jW8']"
                      >Kelya</a
                    >
                  </li>
                  <hr class="dropdown-divider" />

                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Hortense', 'VpvDSz8skb8']"
                      >Hortense</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Longo', 'NzLK08ISCbU']"
                      >Longo</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/LembaLemba', 'l77Hw47dEDE']"
                      >Lemba Lemba</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <!--                   <li><a class="dropdown-item" [routerLink]="['/Matoba', 'xhxM5RqqDf0']">Nzaya Nzayadio - Matoba </a>
                  </li> 
                  <hr class="dropdown-divider"> -->
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/BonbonSucré', 'snFPbHQoL7I']"
                      >Bonbon sucré</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Kamale', 'rEOppwdr2GI']"
                      >Kamale</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Nzale', 'khl2e6to5Co']"
                      >Nzale</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Souvenir3', 'T9CPEkxsNxE']"
                      >Nono</a
                    >
                  </li>
                  <hr class="dropdown-divider" />
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/Monzo', '-njsS91vSac']"
                      >Monzo
                    </a>
                  </li>
                  <hr class="dropdown-divider" />

                  <!--  <li><a class="dropdown-item" [routerLink]="['/Constantation', '5uBwCIWb108']">Constantation</a></li>
                  <hr class="dropdown-divider"> -->
                </ul>
              </li>
            </ul>

            <form class="d-flex mx-auto" role="search" (ngSubmit)="onSearch()">
              <input
                [(ngModel)]="searchQuery"
                name="search"
                class="form-control me-2"
                type="search"
                placeholder="Cherchez un nom"
                aria-label="Search"
                required
              />
              <button
                class="btn btn-outline-success"
                type="submit"
                class="picture-card"
                data-bs-toggle="modal"
                data-bs-target="#searchModal"
                (click)="onSearch()"
              >
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div>
    <router-outlet (activate)="onChildActivate($event)"></router-outlet>
  </div>

  <!-- The Modal 1-->
  <div class="modal fade" id="searchModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ personName }}</h4>
          <button
            type="button"
            class="btn-close"
            (click)="CloseModel()"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="container mt-5">
            <div class="row align-items-center">
              <!-- Picture Section -->
              <div class="col-md-6">
                <img
                  [src]="modalPicture"
                  alt="Sample Image"
                  class="img-fluid rounded"
                />
              </div>
              <!-- Description Section -->
              <div class="col-md-6">
                <div>
                  <h4 class="mb-3 mycontainer">À propos de moi</h4>
                  <div style="text-align: center">
                    <p>
                      {{ message }}
                    </p>
                  </div>
                </div>
                <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- The Modal 2-->
  <div class="modal fade" id="passwordModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Entrez le mot de passe</h5>

          <button
            type="button"
            class="btn-close"
            (click)="ClosepassModel()"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <input
            type="password"
            class="form-control"
            [(ngModel)]="password"
            placeholder="Enter password"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="checkPassword('/Finance')"
            data-bs-dismiss="modal"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- The Modal 2 end-->

  <div class="fixed-bottom" style="width: 95%; margin: auto">
    <app-myfooter></app-myfooter>
  </div>
</div>
